.main-container {
  padding-top: 2em;
}

.category-list {
  position: static;
}

.spacer-afternav {
  padding-top: 3em;
}

/* menu */
.category-list ul {
  list-style-type: none;
  padding-left: 0;
}

.category-list li {
  background-color: rgba(0, 40, 240, 0.2);
  cursor: pointer;
  margin: 0;
  padding: 0.2em 0.5em;
  border-bottom: 1px solid white;
}

.category-list li.active
{
  background-color: #0000DD;
  color: white;
}

.category-list li:hover {
  background-color: rgba(0, 0, 240, 0.8);
  color: white;
}

/* cart */
.price-col,
.price-box {
  text-align: right;
}

.mini-cart .price-box {
  text-align: left;
  display: inline;
}

input.qty {
  max-width: 80px;
  margin-right: 0.8em;
}

button.remove {
  float: right;
}

.message {
  width: 100%;
  padding: 0.2em;
  display: inline-block;
}
.message button {
  float: right;
  width: 8em;
}
.message.error {
  color: white;
  background-color: #ff4136;
}

.no-display {
  display: none;
}
